section.about-us-wrap
  .container
    .about-us
      .about-us_img-box
        img.abous-us_img-body(src='@img/about-us-img.png')
      .about-us_conntent
        h2.about-us_title About Us
        p.about-us_text Our company specializes in wholesale supplies of dressings, 
                      | cotton products and diety supplements. We cooperate only with 
                      | the best manufacturers, some products, we produce by ourselves, 
                      | such as cotton wool. 
        p.about-us_text For us, the main criteria is product quality. All deliveries 
                      | pass careful control, all products have CE mark and manuctures 
                      | by themself, ISO certified. All products, which we offer, you 
                      | can see in section Catalogue. Order goods from us is possible 
                      | from one EUR pallet. Also we develop private brands, design and 
                      | packaging by ourselves. 
        p.about-us_text With us you can not only receive a quality product, but also an 
                      | aesthetically thoughtful brand. We deliver goods all over the world. 
                      | Our approach, attention to detail, loyalty to the client, makes 
                      | working with us reliable and easy. We invite all interested parties 
                      | to cooperate.
        
