section.catalog-wrap
  .container
    .catalog
      h2.catalog_title
      ul.catalog-filter
        li.catalog-filter_item 
          img.catalog-filter_item-img(src='./images/icons/icons.svg#all')
          span.catalog-filter_item-text All
        li.catalog-filter_item 
          img.catalog-filter_item-img(src='./images/icons/icons.svg#tree')
          span.catalog-filter_item-text Cotton Products
        li.catalog-filter_item 
          img.catalog-filter_item-img(src='./images/icons/icons.svg#gauze')
          span.catalog-filter_item-text Dressing Products
        li.catalog-filter_item 
          img.catalog-filter_item-img(src='./images/icons/icons.svg#medicine-bottle')
          span.catalog-filter_item-text Food Supplement
        li.catalog-filter_item 
          img.catalog-filter_item-img(src='./images/icons/icons.svg#experiment-one')
          span.catalog-filter_item-text Other 
      .catalog_card-box
        a.card.catalog_card(hre='#')
          .card_img-wrap
            img.card_img(src='@img/product-1.jpg')
          p.card_title Cotton Wool
        a.card.catalog_card(hre='#')
          .card_img-wrap
            img.card_img(src='@img/product-2.jpg')
          p.card_title Food Supplements