section.contact-wrap
  .container
    h2.contact_tittle 
  .contact_map-body
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d940.0525759375572!2d24.06311127985101!3d56.95328163472662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecffd5268be5f%3A0xc439fb05a5f73f44!2sSlokas%20iela%2052%2C%20Kurzemes%20rajons%2C%20R%C4%ABga%2C%20LV-1007%2C%20Latvia!5e0!3m2!1sen!2sde!4v1732708454082!5m2!1sen!2sde" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  .contact_content-body
    .container
      .contact
        p.contact_name Novacare Distribution 
        a.contact_item(target="_blank" href="https://www.google.com/maps/place/Slokas+iela+52,+Kurzemes+rajons,+R%C4%ABga,+LV-1007,+%D0%9B%D0%B0%D1%82%D0%B2%D1%96%D1%8F/@56.9538036,24.0607573,17z/data=!4m6!3m5!1s0x46eecffd5268be5f:0xc439fb05a5f73f44!8m2!3d56.9538007!4d24.0633322!16s%2Fg%2F11c5m8397v?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D")
          img.contact_item-icon(src='./images/icons/icons.svg#location')
          span.contact_text Slokas str. 52, LV-1007, Riga, Latvia 
        a.contact_item(target="_blank" href="mailto:siamediteks@gmail.com ")
          img.contact_item-icon(src='./images/icons/icons.svg#mail')
          span.contact_text siamediteks@gmail.com 
        a.contact_item(href="tel:+37126408798")
          img.contact_item-icon(src='./images/icons/icons.svg#phone')
          span.contact_text +371 26408798 (Whats App)
        