section.preview-wrap
  .container
    .preview
      h1.preview_title We care about your health
      h5.preview_subtitle Wholesale supplies of wound care products and 
                        | dietary supplements for medical and veterinary uses.
      button.preview_btn Learn more