section.why-us-wrap
  .container
    .why-us
      h2.why-us_title why us
      .why-us_item.why-us_item--big
        .why-us_icon-box
          img.why-us_icon(src='./images/icons/icons.svg#medshild')
        .why-us_text 10 years experiance of trading and distribution on worldwide markets
      .why-us_item.why-us_item--big
        .why-us_icon-box
          img.why-us_icon(src='./images/icons/icons.svg#drug')
        .why-us_text Possibility of purchasing goods in your branded packaging (private brand) 
      .why-us_item
        .why-us_icon-box
          img.why-us_icon(src='./images/icons/icons.svg#pill')
        .why-us_text Small min. purchase (from one pallet)
      .why-us_item
        .why-us_icon-box
          img.why-us_icon(src='./images/icons/icons.svg#microscope')
        .why-us_text High quality products from the best manufacturers 
      .why-us_item
        .why-us_icon-box
          img.why-us_icon(src='./images/icons/icons.svg#ambulance')
        .why-us_text Fast deliveries worldwide 
      